@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>This is the solution of Sebastian Ibanez (student #: 8760081)</p>
    <p>Here is the <a asp-controller="Transaction" asp-action="List">transactions</a> page</p>
</div>
